<div class="calendars-index-wrapper height-max background-color">
  <%= month_calendar events: @calendars do |date, calendars| %>
    <%= date.day %>
        
    <% calendars.each do |calendar| %>
      <div><%= link_to calendar.work_content, calendar, class: 'black calendar-font-size' %></div>
    <% end %>
  <% end %>
  
  <div class="container-fluid padding-top-20 background-color">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="targets calendar-link btn">
          <%= link_to calendar_targets_path,class: 'targets-btn block' do %>
            <div>目標時間を追加</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>