html{
  height: 100%;
}
body{
  height: 100%;
}

// 共通部分
.background-color{
  background-color: #FAFAFA;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.height-max{
  height: 100%;
  padding-top: 110px;
}


// ヘッダー部分
header{
  height: 65px;
  width: 100%;
  background-color: #FFBF00;
  font-size: 20px;
  z-index: 1;
  position: absolute;
}

.header-left{
  float: left;
  line-height: 65px;
  margin-left: 50px;
}

.header-right{
  float: right;
  line-height: 65px;
  margin-right: 50px;
}

.header-btn{
  color: #000000;
  padding: 20px 20px;
}

// トップ画面
.home-top-wrapper{
  background-image: image-url('YghxWtemKpSf8QI1619147043_1619147165.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
}

.center{
  text-align: center;
}

.btn{
  font-size:15px;
  border: 1px solid #000000;
  padding: 8px 0;
  // color: #000000;
  text-align: center;
  width: 100%;
  background-color: #E6E6E6;
  margin-top: 40px;
}

.container h1{
  margin-top: 40px;
  font-size: 30px;
}

.home-title{
  // font-family: Mv Boli;
  margin-top: 25px;
  font-size: 90px;
  font-weight: bold;
  color: #FFBF00;
  text-shadow: 
  1px 0 0 #00008B,
  -1px 0 0 #00008B,
  0 1px 0 #00008B,
  0 -1px 0 #00008B;
  ;
}

.container h2{
  margin-top: 50px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 120px;
  color: #FFBF00;
  text-shadow: 
  1px 0 0 #00008B,
  -1px 0 0 #00008B,
  0 1px 0 #00008B,
  0 -1px 0 #00008B
  ;
}

.home-btn{
  // background-color: rgba(0,0,0,0.0);
  background-color: #FFFFFF;
  border: 2px solid #00008B;
  font-size: 25px;
  color: black;
}

// 新規登録ページ
.users-new-wrapper{
  padding-top: 60px;
  height: 100%;
}

.form-control{
  height: 35px;
  margin-bottom: 25px;
}

// ユーザー
.user-show-title{
  font-size: 30px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.user-show-size{
  font-size: 20px;
  padding-bottom: 25px;
}

.btn-user-show{
  font-size: 20px;
  color: black;
  margin-top:50px;
}

// カレンダー
.calendars-index-title{
  margin-bottom: 70px;
}

.calendars-target-month-wrapper{
  padding-top: 58px;
  height: 100%;
}

.calendar-title{
  font-size: 23px;
  padding: 0 20px;
}

.target-btn{
  margin-top: 80px;
}

.calendar-link{
  float: right;
}

.margin-bottom-0{
  margin-bottom: 0;
}

.padding-top-20{
  padding-top: 20px;
}

.targets-btn{
  margin-top: 150px;
  color: #000000;
}

.calendar-color{
  background-color: #FFFFFF;
}

.calendar-font-size{
  font-size: 20px;
}

.black{
  color: black;
}


.calendar-heading{
  margin-bottom: 30px;
  padding-top: 20px;
}

.calendar-heading span{
  font-size: 30px;
}

.calendar-heading-btn{
  font-size: 16px;
  padding: 0 30px;
}

.bg_red{
  background-color: #D8F6CE;
}

.calendar-color{
  background-color: #ffffff;
}

.wday-0{
  color: red;
}
.wday-6{
  color: #013ADF;
}

td{
  font-size: 20px;
  font-weight: bold;
}

.calendar-font-size{
  font-weight: normal;
}

.time-select{
  font-size: x-large;
}



.target-font{
  font-size: 15px;
  font-weight: 500;
}

.calendar-show-size{
  font-size: 20px;
  padding-bottom: 25px;
}

.month-day{
  font-size: 30px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.btn-calendar-show{
  font-size: 20px;
  color: black;
  margin-top:50px;
}

.delete{
  font-size: 15px;
  padding-top: 25px;
  float: right;
}

.today{
  background-color: #A9E2F3 !important;
}